# فایل‌های مربوط به Python
__pycache__/
*.pyc
*.pyo
*.pyd

node_modules/
.pnpm-store
.env
.next
out
.next
node_modules
.turbo
.pnpm-store
*.log

# پوشه‌های مجازی
env/
venv/
.venv/

# فایل‌های IDE
.idea/
.vscode/
*.swp

# فایل‌های سیستم‌عامل
.DS_Store
Thumbs.db

# فایل‌های مربوط به Git
.git
.gitignore

# فایل‌های مربوط به logs و output
*.log
*.pot
*.mo
*.py[cod]

# فایل‌های مربوط به migrations (اختیاری، اگر auto-gen می‌کنی)
**/migrations/
!*/migrations/__init__.py

# static/media output
staticfiles/
static/
media/

# فایل‌های secret یا حساس
.env
.env.*

# فایل‌های build/docker
*.db
docker-compose.override.yml
*.sqlite3

# لاگ‌های Frontend
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# پوشه‌های output ساختی
dist/
build/

# فایل‌های تست و پوشه snapshot
coverage/
*.spec.ts
*.test.ts
*.test.tsx
__tests__/
__mocks__/
.snapshots/

# output های پروژه
*.bak
*.tmp
*.swp
