asgiref==3.8.1
Django==5.2.3
django-environ==0.12.0
django-jalali-date==2.0.0
djangorestframework==3.16.0
jalali_core==1.0.0
jdatetime==5.2.0
psycopg2-binary==2.9.10
sqlparse==0.5.3
django-ordered-model==3.7.4
pillow==11.2.1
python-slugify==8.0.4
gunicorn==23.0.0
setuptools
packaging
